@model TrestlebridgeEntity.Models.Farm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Farm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acres)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
